@import "tailwindcss";
@plugin "daisyui";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root {
  --bg-light: #fffdf5;
  /* --text-light: #000000; */

  --bg-dark: #0f172a;
  /* --text-dark: #f1f5f9; */
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: var(--bg-light);
  /* color: var(--text-light); */
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dark body {
  background-color: var(--bg-dark);
  color: var(--text-dark);
}

a {
  transition: color 0.3s ease, opacity 0.3s ease;
}
a:hover {
  opacity: 0.8;
}
